{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    My Users
                </div>
                <div class="panel-body">
                    <table class="table doors-table">
                        <thead>
                        <tr>
                            <th>username</th>
                            <th>email</th>
                            <th>active</th>
                        </tr>
                        </thead>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <input class="userActive" type="checkbox"
                                            {% if user.isActive %}
                                                checked="checked"
                                            {% endif %}/>
                                    <input class="user-id" type="hidden" value="{{ user.id }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-primary pull-right" href="{{ path('clay_dashboard_add_user') }}">Add
                                User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(document).ready(function() {
            $('.userActive').change(function () {
                var status =  $(this).is(":checked") ? 'enable' : 'disable';
                var user = $(this);
                var parentWindow = document.location;
                bootbox.confirm("Are you sure you want to " + status + ' this customer ?', function (result) {
                    if (result) {
                        var userId = user.parent().find('.user-id').val();
                        redirect('{{ path('clay_dashboard_homepage') }}' + 'user/' + userId + '/' + status);
                    }
                });
            })

            function redirect(url)
            {
                window.location = url;
            }
        });
    </script>
{% endblock %}