{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block main %}
    <div class="container">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('clay_dashboard_homepage') }}">My Doors</a> > Add Door
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}