{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/angular-toggle-switch.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <!-- main custom js -->
    <!-- AngularJs -->
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/doorModule.js') }}"></script>
    <script src="{{ asset('js/angular-toggle-switch.min.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container" ng-app="clayApp">
        <div ng-controller="doorsController">

            <div class="panel panel-default">
                <div class="panel-heading"><a href="{{ path('clay_dashboard_homepage') }}">My Doors</a> > {[{ door.name }]} Door</div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-lg-12" >
                            <div class="loader span4 offset4" ng-show="showLoader">
                                <img src="{{ asset('images/ring-alt.gif') }}">
                            </div>
                            <div class="door-details" ng-show="door" ng-hide="showLoader">
                                <div class="row">
                                    <h3 class="col-lg-6">
                                        Door Status
                                        <span class="label {[{ labelClass }]}">{[{ door.status }]} </span>
                                    </h3>
                                    <div class="col-lg-6 pull-right switch-action">
                                        <toggle-switch ng-model="switchStatus" on-label="lock"
                                                       off-label="unlock" ng-change="updateStatus()">
                                        </toggle-switch>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-12" >
                            <h2> Recent Events</h2>
                            <div class="all-events" ng-show="doorEvents">
                                <h3 ng-repeat="event in doorEvents">
                                    {[{ displayEvent(event)  }]} {[{ event.createdAt|date:'medium' }]}
                                </h3>
                            </div>
                            <div class="all-events" ng-show="doorEvents.count === 0">
                                <h3>No events found</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script type="text/javascript">
            var userId = {{ userId }};
            var baseUrl = '{{ path('clay_api_main') }}';
            var homeUrl = '{{ path('clay_dashboard_homepage') }}';
            var doorCode = '{{ code }}';
            var currentUserName = '{{ userName }}';
        </script>
        </div>
    </div>
{% endblock %}