{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- main custom js -->
    <!-- AngularJs -->
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/mainModule.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container" ng-app="clayApp">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">My Doors</div>
            <div class="panel-body">

                <div class="col-lg-12" ng-controller="mainController">
                    <h2> Doors list</h2>

                    <div class="loader span4 offset4" ng-show="showLoader">
                        <img src="{{ asset('images/ring-alt.gif') }}">
                    </div>
                    <table class="table doors-table">
                        <thead>
                        <tr>
                            <th>Door Code</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Manage</th>
                            {% if(app.user.isAdmin) %}
                                <th>Edit</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tr ng-repeat="door in doorsList">
                            <td>
                                {[{ door.code }]}
                            </td>
                            <td>
                                {[{ door.name }]}
                            </td>
                            <td>
                                {[{ door.status }]}
                            </td>
                            <td>
                                <a href="{[{ homeUrl + 'manage-door/' + door.code }]}">manage</a>
                            </td>
                            {% if(app.user.isAdmin) %}
                            <td>
                                <a href="{[{ homeUrl + 'door/edit/' + door.code  }]}">edit</a>
                            </td>
                            {% endif %}
                        </tr>
                        <tr ng-show="doorsList.count > 0">
                            <td colspan="3">
                                No doors found
                            </td>
                        </tr>
                    </table>
                    {% if(app.user.isAdmin) %}
                    <div class="row">
                        <div clas="col-lg-12">
                            <a class="btn btn-primary pull-right" href="{{ path('clay_dashboard_door_add') }}">Add Door</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var userId = {{ userId }};
            var baseUrl = '{{ path('clay_api_main') }}';
            var homeUrl = '{{ path('clay_dashboard_homepage') }}';
        </script>
    </div>
{% endblock %}