{% extends 'base.html.twig' %}
{% block main %}


    <div class="container">
        <div class="col-md-offset-3 col-md-6">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <form action="{{ path('login_check') }}" method="post">
                        <div class="form-login">
                            <h4>Welcome back.</h4>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-sm chat-input" placeholder="username" />
                            </br>
                            <input type="password" id="password" name="_password" class="form-control input-sm chat-input" placeholder="password" />
                            </br>
                            <div class="wrapper">
                                <span class="group-btn pull-right">
                                    <button class="btn btn-primary btn-md" type="submit">login</button>
                                </span>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
