/*!
 * Start Bootstrap - Logo Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: lightgray;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 0;
    }
}

.navbar-inverse{
    background-color: white !important;
    border-color:  white !important;
    color: grey;
}

.nav a:hover{
    background-color: white !important;
    color: black !important;
}

.loader{
    text-align: center;
}

.table{
    color: black;
}

.ng-hide:not(.ng-hide-animate) {
    /* this is just another form of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h2:first-letter.
.panel-heading:first-letter{
    text-transform: uppercase;
}

.switch-action{
    margin-bottom: 10px;
    margin-top: 20px;
}

.panel-heading{

}